{% extends 'base.html.twig' %}

{% block title %}{{ target.codeName }} - Spy App {% endblock %}

{% block content %}
    <h1 class="text-center">Détails de la cible : {{ target.codeName }}</h1>
    <table class="table mt-5 table-responsive">
        <thead>
        <tr>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row">Prénom :</th>
            <td>{{ target.firstname }}</td>
        </tr>
        <tr>
            <th>Nom :</th>
            <td>{{ target.lastname }}</td>
        </tr>
        <tr>
            <th>Date de naissance :</th>
            <td>{{ target.dateOfBirth|date("m/d/Y") }}</td>
        </tr>
        <tr>
            <th>Nom de code</th>
            <td>{{ target.codeName }}</td>
        </tr>
        <tr>
            <th>Nationalité :</th>
            <td>{{ target.nationality }}</td>
        </tr>


        </tbody>
    </table>
    <div class="text-center">
        <a href="{{ path('app_target_edit', { id: target.id })  }}" class="btn btn-warning btn-block m-2">Modifier ?</a>
        <a href="{{ path('app_target') }}" class="btn btn-primary btn-block"> Retour </a>
    </div>
{% endblock %}
