{% extends 'base.html.twig' %}

{% block title %}Gestion des agents - Spy App{% endblock %}

{% block content %}
    {% for message in app.flashes('success') %}
        <div class="alert alert-success"> {{ message }}</div>
    {% endfor %}

    <h1 class="text-center">Gérer les agents</h1>
    <div class="row">
            <div class="col-md-3">
                <h3>Filtrer</h3>
                <p>{{ form(form) }}</p>
            </div>
        <div class="col-md-9">
        {% if error %}
            <div class="no-things">
                <p class="mt-5 text-center">{{ error }} &#128517;<br>
                    Voudriez-vous peut-être <a href="{{ path('app_add_agent') }}">Ajouter un nouvel agent ?</a>
                </p>
            </div>

        {% else %}
            <div class="d-flex justify-content-end mb-3">
            {{ knp_pagination_sortable(agents, 'Trier par nom ', 'p.lastname') }}
            </div>
                <table class="table table-responsive">
                    <thead>
                        <tr>
                            <th scope="col">Id</th>
                            <th scope="col">Prénom</th>
                            <th scope="col">Nom</th>
                            <th scope="col">Date de naissance</th>
                            <th scope="col">Nationalité</th>
                            <th scope="col">Actions</th>
                        </tr>
                    </thead>
                <tbody>
                            {% for agent in agents %}
                    <tr>
                        <th scope="row">{{ agent.id }}</th>
                        <td>{{ agent.firstname }}</td>
                        <td>{{ agent.lastname }}</td>
                        <td>{{ agent.dateOfBirth|date("m/d/Y") }}</td>
                        <td>{{ agent.nationality }}</td>
                        <td><a class="btn btn-success btn-sm" href="{{ path('app_agent_details', { id: agent.id }) }}">Afficher</a></td>
                        <td><a class="btn btn-warning btn-sm" href="{{ path('app_edit_agent', { id: agent.id }) }}">Modifier</a></td>
                        <td>{{ include('agent_details/delete.html.twig') }}</td>
                    </tr>
                            {% endfor %}
                </tbody>
                </table>
                    <div class="d-flex justify-content-center">
                        {{ knp_pagination_render(agents, 'pagination/pagination.html.twig') }}
                    </div>
            <div class="text-center">
                <a href="{{ path('app_add_agent') }}" class="btn btn-primary btn-block"> Ajouter un agent ?</a>
            </div>
            </div>

        </div>
    {% endif %}
{% endblock %}
