{% extends 'base.html.twig' %}

{% block title %}Gestion des agents - Spy App{% endblock %}

{% block content %}
    {% for message in app.flashes('success') %}
        <div class="alert alert-success"> {{ message }}</div>
    {% endfor %}

    <h1 class="text-center">Gérer les agents</h1>
    <div class="row">
        <div class="col-md-3">
            <h4 class="fs-5">Filtrer par Nom</h4>
            {{ form_start(form, { 'attr': { 'id' : 'filters' }}) }}
                {{ form_widget(form.string) }}
                <h4 class="fs-5">Filtrer par spécialité</h4>
                {{ form_widget(form.specialities) }}





                <h4 class="fs-5">Filtrer par nationalité</h4>
                {{ form_widget(form.nationalities) }}
                {{ form_row(form.filtrer) }}
                {{ form_end(form) }}

            {#  Méthode lié à lajax Bug récurrent
                {% for speciality in specialities %}
                    <p>
                        <input type="checkbox" name="specialities[]" id="spe{{ speciality.id }}" value="{{ speciality.id }}">
                        <label for="spe{{ speciality.id }}">{{ speciality.name }}</label>
                    </p>
                {% endfor %} #}

            {#  Méthode lié a LAJAX

            {% for nationality in nationalities %}
                    <p>
                        <input type="checkbox" name="nationalities[]" id="spe{{ nationality.id }}" value="{{ nationality.id }}">
                        <label for="spe{{ nationality.id }}">{{ nationality.name }}</label>
                    </p>
                {% endfor %} #}

            {# ancien form lié avec searchtype et KNP Paginator #}
            {# {{ form_start(form) }}
            <h4 class="fs-5">Effectuer une recherche par nom</h4>
            {{ form_widget(form.string) }}
            <h4 class="fs-5 mt-2">Rechercher par spécialité</h4>
            {{ form_widget(form.specialities) }}
            <h4 class="fs-5 mt-2">Rechercher par nationalité</h4>
            {{ form_widget(form.nationalities) }}
            {{ form_end(form) }} #}
        </div>
        <div class="col-md-9" id="content">
        {% include ("agent/_content.html.twig") %}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ '/assets/js/filters.js' }}"></script>
{% endblock %}
