{% extends 'base.html.twig' %}

{% block title %}{{ contact.codeName }} - Spy App {% endblock %}

{% block content %}
    <h1 class="text-center">Détails du contact : {{ contact.codeName }}</h1>
    <table class="table mt-5 table-responsive">
        <thead>
        <tr>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row">Prénom :</th>
            <td>{{ contact.firstname }}</td>
        </tr>
        <tr>
            <th>Nom :</th>
            <td>{{ contact.lastname }}</td>
        </tr>
        <tr>
            <th>Date de naissance :</th>
            <td>{{ contact.dateOfBirth|date("m/d/Y") }}</td>
        </tr>
        <tr>
            <th>Nom de code</th>
            <td>{{ contact.codeName }}</td>
        </tr>
        <tr>
            <th>Nationalité :</th>
            <td>{{ contact.nationality }}</td>
        </tr>


        </tbody>
    </table>
    <div class="text-center">
        <a href="{{ path('app_contact_edit', { id: contact.id })  }}" class="btn btn-warning btn-block m-2">Modifier ?</a>
        <a href="{{ path('app_contact') }}" class="btn btn-primary btn-block"> Retour </a>
    </div>
{% endblock %}
